div.box1 {
background:#7bb5af;
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box1:hover {
background:#7bb5af;
text-align:center;
color:black;
width:700;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box2 {
background:#7bb5af;
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box2:hover {
background:#7bb5af;
text-align:center;
color:black;
width:700px;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box3 {
background:#7bb5af;
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:#7bb5af;
text-align:center;
color:black;
width:700px;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:#7bb5af;
color:black;
border:1px solid black;
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:200px;
overflow:auto;
}
  
 
body {
background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEibRvSTHBCSWJl0gzXEyZQ4PqtmaP-bAox5yIUvvyGRTBa6Cotv4Vzxkac7rX8-Z6Q3wEyZUOTLAEdTx79vHLo5xw25oxoHn1xn5rbv5zd60xbNlFzdsfie-f7IpPEVsnapqVfIpoKwwX4rg1knC79Ou4Rt0e_mLeOyElmwLrcN6NZC1Kf8sf7QnEfpTg/s1024/Iridescent%20Safari%20Fantasy%20Cliparts%2014-01-1024-512px.jpg") fixed;
background-repeat: no-repeat;
background-size: cover;
color: #000;
}
 
.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}
 
h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}
 
/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: #7bb5af;
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
  
  
/* Links */
  
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
}
  
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
}
  
/* Topbar */
  
.topbar {
background: rgb(193, 231, 227);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
 
.badge {
background: rgb(193, 231, 227);
border: 1px solid #000;
}
  
/* Navigational Bar */
  
.main {
background: rgba(193, 187, 221, 0.54);
border: 1px solid #000;
box-shadow: none;
}
  
.navbar {
background: #C1BBDD;
border-bottom: 1px solid #000;
color: #000;
}
  
.navbar-default .navbar-nav > li > a {
color: #000;
}
  
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #C1E7E3;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 
  
  
  
/* Sidebar */
  
.sidebar {
background: rgba(193, 231, 227, 0.64);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
}
  
.col-md-3 .panel {
background: rgb(193, 187, 221);
border: 1px solid #000;
box-shadow: none;    
}
  
.progress-bar {
background: #DABFDE;
}
  
.progress {
background: #FFDCF4;
border: 1px solid #000;
}
  
  
/* Chat */
  
.chat_light, .chat_dark {
background: rgb(193, 187, 221);
font-size: 11px;
color: #000;
}
 
.chatContainer {
border: 1px solid #000;
}
  
.userstolen {
background: none;
}
 
.alert-danger {
color: #000;
background: rgb(255, 220, 244);
border: 1px solid #000;
}
 
.alert-success {
color: #000;
background: rgb(220, 255, 251);
border: 1px solid #000;
}
 
.breadcrumb {
background:  #C1E7E3;
font-size: 13px;
border: 1px solid #000;
}
  
.breadcrumb>.active {
color: #000;
}
  
h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
  
.col-md-9 {
background: none;
border: 0px solid #000;
}
  
/* Tables */
  
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
}
  
.table, .item {
border: 1px solid #000;
background: #C1BBDD;
border-collapse: separate;
}
 
.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}
 
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: #C1E7E3;
color: #000;
}
 
.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #FFDCF4;
color: #000;
}
 
.table .left {
border: 1px solid #000;
background: #DABFDE;
color: #000;
}
 
.inner-table .right {
background: #FFDCF4;
border: 1px solid #000;
border-left: none;
}
 
 

 
/* 
CSS template originally created and presented by Kraft (#738/#1105)
*/
